// 

.homePage{
    background-color: rgb(141, 166, 149);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        background-color: aqua;
        width: 65%;
        height: 80%;
        display: flex;
        border-radius: .5rem;
        overflow: hidden;
        @include tablet{
            width: 90%;
        }
        .sidebar{
            flex: 1;
            background-color: #3e3c61;
            position: relative;
            .navbar{
                background-color:#2f2d52 ;
                height: 4.2rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #ddddf7;
                padding: 0 .8rem;
                .logo{
                    font-weight: 700;
                    font-size: 1.2rem;
                    letter-spacing: 1.3px;
                    @include tablet{
                        display: none;
                    }
                }
                .user{
                    // background-color: red;
                    // padding: 1rem;
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    img{
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    span{
                        text-transform: capitalize;
                    }
                    button{
                        cursor: pointer;
                        border: none;
                        border-radius: .4rem;
                        font-size: .9rem;
                        text-transform: capitalize;
                        padding: .4rem ;
                        background-color: #5d5b8d;
                        color: #ddddf7;
                        transition: background-color .5s ease-in-out ;
                        &:hover{
                            background-color: #47466b;
                        }
                        @include tablet{
                            position: absolute;
                            bottom: 1rem;
                            right: 1rem;
                        }
                    }
                }
            }
            .search{
                // background-color: red;
                border-bottom:1px solid #5e5e62 ;
                .searchForm{
                    // background-color: darkblue;
                    input{
                        width: 100%;
                        padding: .7rem;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        color: #fff;
                        &::placeholder{
                            color: lightgray;
                            // text-transform: capitalize;
                        }
                    }
                }
                // .userChat{
                //     // background-color: red;
                //     color: #ddddf7;
                //     display: flex;
                //     align-items: center;
                //     padding: .5rem;
                //     gap: .5rem;
                //     cursor: pointer;
                //     transition: background-color .3s ease-in-out;
                //     &:hover{
                //         background-color: #2f2d52;
                //     }
                //     img{
                //         width: 2rem;
                //         height: 2rem;
                //         object-fit: cover;
                //         border-radius: 50%;
                //     }
                //     .userInfo{
                //         // background-color: aqua;
                //         span{
                //             text-transform: capitalize;
                //             // font-size: 1.1rem;
                //             font-weight: 500;
                //         }
                //     }
                // }
            }
            .userChat{
                // background-color: red;
                color: #ddddf7;
                display: flex;
                align-items: center;
                padding: .5rem;
                gap: .5rem;
                cursor: pointer;
                transition: background-color .3s ease-in-out;
                &:hover{
                    background-color: #2f2d52;
                }
                img{
                    width: 2rem;
                    height: 2rem;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .userInfo{
                    // background-color: aqua;
                    span{
                        text-transform: capitalize;
                        // font-size: 1.1rem;
                        font-weight: 500;
                    }
                    p{
                        font-size: .8rem;
                        color: lightgray;
                    }
                }
            }
        }
        .chat{
            flex: 2;
            background-color: rgb(39, 132, 224);
            .chatInfo{
                background-color: #5d5b8d;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: .8rem;
                // color: lightgray;
                span{
                    color: lightgray;
                    text-transform: capitalize;
                    // font-size: 1.2rem;
                }
                .chatIcons{
                    // background-color: aqua;
                    display: flex;
                    gap: .5rem;
                    img{
                        // width: ;
                        height: 1.5rem;
                        cursor: pointer;
                    }
                }
            }
            .messages{
                background-color: #ddddf7;
                padding: 1rem;
                height: calc(100% - 99.6px);
                overflow-y: scroll;
                .message{
                    // background-color: #2f2d52;
                    margin-bottom: 1.2rem;
                    display: flex;
                    // align-items: center;
                    gap: .5rem;
                    .messageInfo{
                        // background-color: red;
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                        span{
                            font-size: .9rem;
                            font-weight: 300;
                            color: gray;
                        }
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                           
                        }
                    }
                    .messageContent{
                        // background-color: red;
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;

                        p{
                            // background-color: aqua;
                            background-color: #fff;
                            padding: .7rem 1.2rem;
                            border-radius: 0 10px 10px;
                            max-width:max-content;
                        }
                        img{
                            width: 50%;
                        }
                    }
                    &.owner{
                        flex-direction: row-reverse;
                        // background-color: aqua;
                        .messageContent{
                            // flex-direction: column-reverse;
                            align-items: end;
                            // background-color: #2f2d52;
                            p{
                                border-radius: 10px 0 10px 10px;
                                background-color: #8da4f1;
                                color: white;
                            }
                        }
                        p{

                        }
                    }
                    
                }
            }
            .input{
                height: 3.125rem;
                padding: 1rem;
                background-color: #fff;
                display: flex;
                // border-bottom: 2px solid red;
                align-items: center;
                justify-content: space-between;
                input{
                    border: none;
                    // background-color: ;
                    outline: none;
                    width: 100%;
                    color: #2f2d52;
                    font-size: 1.1rem;
                    &::placeholder{
                        color: rgb(171, 171, 171);
                    }
                }
                .send{
                    display: flex;
                    align-items: center;
                    gap: .8rem;

                    button{
                        padding:.4rem .7rem;
                        background-color: #8da4f1;
                        font-size: 1.1rem;
                        color: #fff;
                        font-weight: 500;
                        border: none;
                        border-radius: .4rem;
                        cursor: pointer;
                        text-transform: capitalize;
                    }
                    img{
                        // width: ;
                        height: 1.5rem;
                        cursor: pointer;
                    }
                }
                #file{
                    display: none;
                }
            }
        }
    }
}